<template name="about">
<h1>About Presenteract</h1>
<p class="lead">Presenteract is a project to facilitate interactive presentations, where the audience can see and interact with slides from their phone/device/laptop.</p>
<h2>Audience</h2>
<p>Connect to the currently "open" deck, for this presentaiton.  Often there is a QR code or a URL provided to make this simpler.</p>
<p>Wait for the Presenter to change slides for you.</p>
<p>Polls should be very simple, just choose an option and submit.</p>
<h2>Presenters</h2>
<p>To present, you must login, via Facebook or via Google.  Once logged in, you'll have an option for "My Presentations" and the ability to add new ones.</p>
<p>New Deck/Presenations will be created without any slides.  You must add at least one slide to be able to use it.</p>
<p>Only "Open" Presenations are available to audience members.  You can edit Presenations while open, and audience members should get your changes automatically synced.</p>
<p>Only the "owner" / "creator" of a Presenation can control/run it.</p>
<h2>Help / Contact</h2>
<p><a href="https://github.com/zeroasterisk/Presenteract/issues">Bug Reports and Feature Requests</a> are available.  If there is a significant need, we will improve this to a knowledge base.</p>
<p>Developers, the code is available on <a href="https://github.com/zeroasterisk/Presenteract">GitHub</a></p>
<h2>Built With</h2>
<div class="row">
  <div class="span4">
    <h3><a href="http://meteor.com">MeteorJS</a></h3>
    <p>Wow. At every step of the way I've been impressed by MeteorJS.  The framework is exception in the functionality it provides users in the application.  It is also very easy to work in and includes tons of tools for developers.</p>
  </div>
  <div class="span4">
    <h3><a href="http://phonegap.com">PhoneGap</a></h3>
    <p>PhoneGap is an excellent project, wrapping web applications into mobile device "apps".</p>
  </div>
  <div class="span4">
    <h3><a href="http://twitter.github.io/">Twitter Bootstrap</a></h3>
    <p>This Excellent and Prolific CSS framework makes createing attractive, standardized, responsive, and very functional web applications easy.</p>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h4><a href="http://jQuery.com">jQuery</a></h4>
    <p>Who doesn't use jQuery?  In fact, we don't use it a ton, because MeteorJS does most of the lifting, but we still use jQuery to work with the DOM a bit.</p>
  </div>
  <div class="span4">
    <h4><a href="http://underscorejs.com">UnderscoreJS</a></h4>
    <p>The underscore library is a very handy JavaScript toolbox...  Don't leave home without it.</p>
  </div>
  <div class="span4">
    <h4><a href="http://www.chartjs.org/">ChartJS</a></h4>
    <p>A simple, clean, attractive and super-fast JS library for rendering HTML charts.</p>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h4><a href="http://vitalets.github.io/x-editable/">X-Editable</a></h4>
    <p>For the admin interface, we have a "Click to Edit" or "Edit in Place" interface provided by X-Editable.  It rocks!</p>
  </div>
</div>
</template>
