<template name="about">
<h1>About Presenteract</h1>
<p class="lead">Presenteract is a project to facilitate interactive presentations, where the audience can see and interact with slides from their phone/device/laptop.</p>
<h2>Audience</h2>
<p>Connect to the currently "open" deck, for this presentaiton.  Often there is a QR code or a URL provided to make this simpler.</p>
<p>Wait for the Presenter to change slides for you.</p>
<p>Polls should be very simple, just choose an option and submit.</p>
<h2>Presenters</h2>
<p>To present, you must login, via Facebook or via Google.  Once logged in, you'll have an option for "My Presentations" and the ability to add new ones.</p>
<p>New Deck/Presenations will be created without any slides.  You must add at least one slide to be able to use it.</p>
<p>Only "Open" Presenations are available to audience members.  You can edit Presenations while open, and audience members should get your changes automatically synced.</p>
<p>Only the "owner" / "creator" of a Presenation can control/run it.</p>
<h2>Help / Contact</h2>
<p><a href="https://github.com/zeroasterisk/Presenteract/issues">Bug Reports and Feature Requests</a> are available.  If there is a significant need, we will improve this to a knowledge base.</p>
<p>Developers, the code is available on <a href="https://github.com/zeroasterisk/Presenteract">GitHub</a></p>
</template>
