<template name="decksMine">
<ul class="breadcrumb">
  <li><a href="/"><i class="icon-home"></i> Home</a> <span class="divider">/</span></li>
  <li class="active"><i class="icon-user"></i> My Decks</a></li>
</ul>
<h1>My Presentations</h1>
{{#if currentUser}}
  {{#if decks}}
    {{#each decks}}
      {{> _editDeckBar}}
    {{/each}}
  {{else}}
    <p class="alert">
      You do not have any decks at the moment...
      <a href="/deckNew" class="btn btn-large btn-primary"><i class="icon-plus icon-white"></i> Add One</a>
    </p>
  {{/if}}
{{else}}
  <p class="alert">
    You are not logged in.
  </p>
  <div class="">
    {{loginButtons align="right" }}
  </div>
{{/if}}
</template>
