<template name="home">
<h1>Interactive Presentations</h1>
<div class="row">
  <div class="span6">
    <p class="lead">Simple slideshows via the web, in sync on the phone/tablet/computer of audience members.</p>
  </div>
  <div class="span6">
    {{#each decks}}
    <div class="media">
      <a class="pull-left decklink" href="/deck/{{_id}}">
        <img src="http://api.qrserver.com/v1/create-qr-code/?data=http://presenteract.meteor.com/deck/{{_id}}&size=100x100" alt="qrcode to deck">
      </a>
      <div class="media-body">
        <h4>{{title}}</h4>
        <p class="muted">{{short}}</p>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<div class="media">
  <a class="pull-left" href="http://presenteract.meteor.com">
    <img src="http://api.qrserver.com/v1/create-qr-code/?data=http://presenteract.meteor.com&size=200x200" alt="qrcode to presenteract.meteor.com">
  </a>
  <div class="media-body">
    <h4>Get the App now, or load the page</h4>
    <p>Are you in the audience, waiting for a presentation?  Go ahead and get setup on your device.</p>
  </div>
</div>
</template>
