<template name="home">
{{#if decks}}
  <h2>Presentations</h2>
  {{#each decks}}
    {{> deckNodePublic}}
  {{/each}}
{{/if}}

<div class="row">
  <div class="span12">
    <h1 class="pull-left">Interactive Presentations</h1>
  </div>
</div>

<div class="row">
  <div class="span6">
    <p class="lead">
      <img src="/icon.png" alt="Logo" class="pull-left">
      Simple slideshows via the web, in sync on the phone/tablet/computer of audience members.
    </p>
  </div>
  <div class="span6">
  </div>
</div>

<div class="media">
  <a class="pull-left" href="http://presenteract.meteor.com">
    <img src="http://api.qrserver.com/v1/create-qr-code/?data=http://presenteract.meteor.com&size=200x200" alt="qrcode to presenteract.meteor.com">
  </a>
  <div class="media-body">
    <h4>Get the App now, or load the page</h4>
    <p>Are you in the audience, waiting for a presentation?  Go ahead and get setup on your device.</p>
  </div>
</div>
</template>
