<template name="slideView">

{{#if slide}}
{{#with slide}}

  <div class="slide-header">
    <h3 class="eip" data-type="text" data-mode="inline" data-name="title">{{title}}</h3>
  </div>

  <div class="slide-body">
    <div class="row">
      <div class="span6">
        <div class="eip lead" data-type="textarea" data-mode="inline" data-name="short">{{safe 'short'}}</div>
        <div class="eip" data-type="textarea" data-mode="inline" data-name="body">{{safe 'body'}}</div>
      </div>
      <div class="span6">
        {{#if poll}}
        {{#with poll}}
          {{#if pollTakeable}}
            {{> takePoll}}
          {{else}}
            {{> viewPoll}}
          {{/if}}
        {{/with}}
        {{/if}}
      </div>
    </div>
  </div>

{{/with}}
{{else}}
  <div class="alert">No Slide Set...</div>
{{/if}}


</template>



